// GENERAL COLORS
$color-light-white    : #f7f7f7;
$color-white          : #fff;
$color-lighter-white  : #ccc;
$color-light-gray     : #9c9c9c;
$color-gray           : #565656;
$color-darker-gray    : #3b3b3b;
$color-red            : #d44234;
$color-red-2          : #be3a31;
$color-light-red      : #d2433a;
$color-black          : #000;

// BUTTON COLORS:
$btn-primary-color        : #d6412d;
$btn-primary-color-hover  : #b63424;

// Brand color
$color-twitter  : #4cafe8;
$color-google   : #db4e37;
$color-linkedin : #296996;
$color-yahoo    : #863587;
$color-facebook : #3f5f95;
