// INCLUDES
@import '_modules/colors';


// SCSS SHEET

html,
body {
  color: $color-gray;
  height: 100%;
}

// OLD CSS CODE
// html,
// body {
//   height: 100%;
// }

a {
  outline: none;
  text-decoration: none;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

a:hover {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h6 {
  color: $color-gray;
}

h5 {
  color: $color-gray;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
}

html {
  font-size: 62.5%;
  font-weight: 300;
}

body {
  font-family: "Lora", serif;
  font-size: 1.4rem;
}

p,
li,
span,
div {
  font-size: 1.4rem;
  line-height: 1.8;
}

.lead {
  font-size: 1.8rem;
  margin: 2.8rem 0;
}

h1 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.2;

  // h4 small
  small {
    font-size: 65%;
  }
}

h6 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul {
  margin: 2.8rem 0 1.4rem;
}

ul.list-unstyled li {
  margin-bottom: 1.4rem;
}

dl dt {
  margin-top: 1.4rem;
}

dl dt:first-of-type {
  margin-top: 0;
}

h1 small,
h2 small,
h3 small {
  font-size: 50%;
  font-weight: normal;
}

h5 small,
h6 small {
  font-size: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
  position: relative;
}

#content h1.text-center,
#content h2.text-center,
#content h3.text-center,
#content h4.text-center,
#content h5.text-center,
#content h6.text-center {
  margin-bottom: 6.2rem;
}

#content h1.text-center::after,
#content h2.text-center::after,
#content h3.text-center::after,
#content h4.text-center::after,
#content h5.text-center::after,
#content h6.text-center::after {
  content: '';
  display: block;
  position: absolute;
  width: 6rem;
  border-bottom: .3rem solid #BE3A31;
  margin-top: 1.2rem;
  margin-left: -3rem;
  left: 50%;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  display: block;
  line-height: 1.2;
  opacity: .8;
}

h1 .center-block,
h2 .center-block,
h3 .center-block,
h4 .center-block,
h5 .center-block,
h6 .center-block {
  display: block;
  line-height: 1.4;
  margin: 0 auto;
}

#content p {
  line-height: 1.8;
}

@media (max-width: 767px) {
  html {
    font-size: 75%;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.6rem;
  }

  h6 {
    font-size: 1.4rem;
  }

  blockquote {
    padding-left: 4.2rem;
  }
}

#header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  color: $color-white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

#main-nav {
  background: rgba(255, 255, 255, .9);
  border: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  z-index: 3;
}

#logo {
  margin: 17px 0 18px;
  line-height: 1;
  float: left;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  color: $color-red;
  font-size: 2rem;
  letter-spacing: -1px;
}

#logo img {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.toggle-nav-label,
.toggle-nav-input {
  display: none;
  margin: 0;
  padding: 0;
}

.toggle-nav-label {
  float: right;
  color: $color-darker-gray;
  line-height: 60px;
}

#main-nav .menu {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

#main-nav .menu > .menu-item {
  display: block;
  position: relative;
  float: left;
  margin-left: 30px;
}

#main-nav .menu > .menu-item:first-of-type {
  margin-left: 0;
}

#main-nav .menu > .menu-item > a {
  height: 100%;
  height: 60px;
  line-height: 60px;
  display: block;
  color: $color-darker-gray;
  text-decoration: none;
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -ms-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  font-size: 1.4rem;
  text-shadow: 1px 1px $color-white;
  font-weight: 400;
  padding: 0;
  font-weight: bold;
}

#main-nav .menu > .menu-item:hover > a {
  background: none;
  color: $color-light-gray;
}

#main-nav .menu > .active > a {
  border-bottom: 3px solid $color-red;
  color: $color-red !important;
  height: 60px;
}

@media (max-width: 767px) {
  #main-nav {
    text-align: center;
    display: block;
    float: none;
    background: rgba(255, 255, 255, .95);
  }

  #logo {
    float: left;
    display: block;
    text-align: left;
  }

  #main-nav .menu {
    float: none;
    display: none;
    width: 100%;
    overflow: hidden;
  }

  #main-nav #toggle-main-nav:checked + .menu {
    display: block;
  }

  #main-nav .menu > .menu-item {
    border-bottom: none !important;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
  }

  #main-nav .menu > .menu-item > a {
    border-bottom: 1px solid $color-lighter-white;
  }

  #main-nav .menu > .menu-item:last-of-type > a {
    border-bottom: none !important;
  }
}

#content {
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .15);
  position: relative;

  // #content img
  img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}

#content div > :first-child,
#content aside > :first-child {
  margin-top: 0;
}

#content div > :last-child,
#content aside > :last-child {
  margin-bottom: 0;
}

.content-padding {
  padding-bottom: 5.6rem;
  padding-top: 5.6rem;
}

.content-padding-none {
  padding-bottom: 0;
  padding-top: 0;
}

.content-padding-xs {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.content-padding-lg {
  padding-bottom: 9.8rem;
  padding-top: 9.8rem;
}

.content-padding-bottom-lg {
  padding-bottom: 9.8rem;
}

.content-padding-xl {
  padding-bottom: 14rem;
  padding-top: 14rem;
}

.content-padding-xxl {
  padding-bottom: 15.4rem;
  padding-top: 15.4rem;
}

.padding-bottom-none {
  padding-bottom: 0;
}

#gallery li {
  display: inline-block;
  float: left;
  list-style: none;
  width: 25%;
}

#gallery img {
  height: auto;
  width: 100%;
}

.size-25 {
  width: 25%;
}

.size-50 {
  width: 50%;
}

.size-75 {
  width: 75%;
}

.animated {
  opacity: 0;
}

.form-control {
  font-family: "Roboto", sans-serif;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

cite {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.btn-primary {
  background-color: $btn-primary-color;
  border-color: $btn-primary-color;
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -moz-box-shadow: 0 3px 0 0 rgba(182, 52, 36, 1);
  -webkit-box-shadow: 0 3px 0 0 rgba(182, 52, 36, 1);
  box-shadow: 0 3px 0 0 rgba(182, 52, 36, 1);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: $btn-primary-color-hover;
  border-color: $btn-primary-color-hover;
}

.btn-lg {
  line-height: 1;
  padding: 1.5rem 4rem;
}

.section-title {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  position: relative;
}

.section-title::before {
  border-bottom: 3px solid;
  content: '';
  margin-right: 4.2rem;
  opacity: .2;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 15rem;
}

.section-title::after {
  border-bottom: 3px solid;
  content: '';
  left: 100%;
  margin-left: 4.2rem;
  opacity: .2;
  position: absolute;
  top: 50%;
  width: 15rem;
}

@media (max-width: 767px) {
  [class*=size-] {
    width: 100%;
  }

  .content-padding,
  .content-padding-xs,
  .content-padding-lg,
  .content-padding-xl,
  .content-padding-xxl {
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
  }

  #content .row [class*="col-sm-"] {
    margin-bottom: 2.8rem;
  }

  .content-padding-mobile-none {
    padding-bottom: 0;
    padding-top: 0;
  }

  .section-title {
    display: block;
  }

  .section-title::before {
    display: none;
  }

  .section-title::after {
    display: none;
  }
}

#home {
  min-height: 800px;
  background-image: url('images/splash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}

#home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .45);
  z-index: 1;
}

#home:after {
  background-size: 5px;
  background-color: transparent;
  opacity: .1;
}

#splash {
  color: $color-white;
  max-width: 800px;
  position: absolute;
  z-index: 1;
  text-align: center;
}

#splash h1 {
  color: $color-white;
  font-weight: bold;
  line-height: 1.4;
  font-size: 5.2rem;
  letter-spacing: -1px;
  margin-bottom: 5.6rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

#splash h1 small {
  color: $color-white;
  font-size: 65%;
  font-weight: normal;
  border-bottom: 2px solid $color-white;
  display: inline-block;
  margin: 0 50px;
}

#splash .btn {
  font-size: 1.8rem;
}

#counter {
  position: absolute;
  z-index: 2;
  bottom: -50px;
  width: 450px;
  background: $color-light-white;
  border-radius: 3px;
  padding: 2.8rem;
  font-family: "Roboto", sans-serif;
}

#counter > div {
  font-size: 1.8rem;
}

#counter .progress {
  background: rgba(86, 86, 86, .2);
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  margin: .7rem 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#counter .progress-bar {
  background: $color-red;
}

@media (max-width: 767px) {
  #splash {
    max-width: 100%;
    padding: 0 20px;
  }

  #splash h1 {
    font-size: 2.8rem;
  }

  #counter {
    position: static;
    width: 100%;
    bottom: 0;
    border-radius: 0;
    text-align: center;
    padding: 1.4rem;
  }

  #counter .text-right {
    text-align: center;
  }

  #counter div {
    font-size: 1.4rem;
  }
}

#petitioned {
  background: $color-light-white;
  font-family: "Roboto", sans-serif;
  padding: 2.8rem 0;
}

#petitioned div {
  font-size: 1.2rem;
}

#petitioned strong {
  display: block;
}

#petition-to {
  display: block;
  margin-bottom: 1.4rem !important;
}

#author {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  padding-left: 80px;
  padding-top: 5px;
  position: relative;
}

#author img {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

#letter-container {
  background: url('images/linedpaper.png') top left;
  font-family: 'Cutive Mono', monospace;
}

#letter-container p {
  font-size: 1.6rem;
  line-height: 1.59;
  margin: 2.4rem 0 1.7rem;
}

#letter .content-padding-xs {
  padding: 6.2rem 0;
}

#timeline {
  margin-bottom: 9.8rem !important;
  padding: 4.2rem 0;
  position: relative;
}

#timeline::before {
  content: ' ';
  position: absolute;
  left: 50%;
  border-left: 1px dashed;
  opacity: .2;
  height: 100%;
  top: 0;
}

#timeline .entry {
  width: 100%;
  margin: 4.2rem 0;
  position: relative;
}

#timeline .entry::before {
  color: $color-light-white;
  content: '\f0da';
  font-family: 'FontAwesome';
  font-size: 4.2rem;
  line-height: 1;
  position: absolute;
  display: block;
  top: 3px;
}

#timeline time {
  position: absolute;
  top: 1.8rem;
  font-size: 1.4rem;
  top: 1.4rem;
}

#timeline time span {
  font-size: 1.2rem;
  opacity: .5;
  display: none;
  line-height: 1;
}

#timeline time::before {
  content: '';
  display: block;
  height: 15px;
  width: 15px;
  background: $color-red;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  position: absolute;
  top: 5px;
}

#timeline .entry > div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: $color-light-white;
  width: 100%;
  padding: 1.4rem 2.8rem;
  text-align: center;
}

#timeline .entry.sticky > div {
  background: #FAD1D1;
}

#timeline .entry.sticky:before {
  color: #FAD1D1;
}

#timeline .entry.sticky h5, #timeline .entry.sticky p {
  color: $color-light-red;
}

#timeline .entry > div > p {
  margin-top: 1.4rem;
}

#timeline .entry:nth-child(odd) {
  padding-right: 53%;
}

#timeline .entry:nth-child(odd)::before {
  margin-right: -1.3rem;
  right: 53%;
}

#timeline .entry:nth-child(odd) > time {
  left: 52%;
}

#timeline .entry:nth-child(odd) > time::before {
  left: -29px;
}

#timeline .entry:nth-child(even) {
  padding-left: 53%;
}

#timeline .entry:nth-child(even)::before {
  content: '\f0d9';
  left: 53%;
  margin-left: -1.3rem;
}

#timeline .entry:nth-child(even) > time {
  right: 52%;
  text-align: right;
}

#timeline .entry:nth-child(even) > time::before {
  right: -29px;
}

@media (max-width: 767px) {
  #timeline .entry {
    padding: 0 !important;
  }

  #timeline .entry::before,
  #timeline .entry > time::before {
    display: none;
  }

  #timeline .entry > time {
    display: none;
  }
}

#supporters-container {
  position: relative;
}

#supporters-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

#supporters-container:after {
  background-color: transparent;
  background-size: 5px;
  opacity: .2;
}

#supporters-container .supporter {
  border: 5px solid rgba(255, 255, 255, .25);
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  max-height: 130px;
  max-width: 130px;
}

#supporters-container .supporter:hover {
  border: 5px solid $color-red;
  opacity: 1;
}

#supporters-container .block-grid-6:hover li:not(:hover) .supporter {
  opacity: .25;
}

#supporters-container ul {
  margin: 5.6rem 0 7rem;
}

#supporters-container li {
  position: relative;
}

#supporters-container .container {
  position: relative;
  z-index: 1;
}

#supporters-container .section-title,
#supporters-container h3 {
  color: $color-white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

#supporters-container h3 > small {
  border-bottom: 1px solid $color-white;
  color: $color-white;
  display: inline-block;
  font-size: 100%;
}

.popover-content {
  line-height: 1.4;
  text-align: center;
}

@media (max-width: 767px) {
  #supporters-container .block-grid-6 li {
    float: none;
    margin-bottom: 2.8rem;
    width: 100%;
  }

  #supporters-container .block-grid-6 li:last-of-type {
    margin-bottom: none;
  }
}

#sign-it h2.section-title {
  margin-bottom: 9.8rem;
}

#sign-row {
  position: relative;
}

#sign-row::before {
  content: '';
  display: block;
  height: 100%;
  width: 0;
  border-right: 1px dashed;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: .2;
}

#sign-row::after {
  background: $color-gray;
  -moz-border-radius: 300px;
  content: 'OF';
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: $color-white;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#sign-list {
  list-style: none;
  margin: 0;
  padding: 0;

  // #sign-list .btn.facebook
  .btn.facebook {
    background-color: $color-facebook;
    border-color: $color-facebook;
  }

  // #sign-list .btn.twitter
  .btn.twitter {
    background-color: $color-twitter;
    border-color: $color-twitter;
  }

  // #sign-list .btn.google
  .btn.google {
    background-color: $color-google;
    border-color: $color-google;
  }

  // #sign-list .btn.linkedin
  .btn.linkedin {
    background-color: $color-linkedin;
    border-color: $color-linkedin;
  }

  // #sign-list .btn.yahoo
  .btn.yahoo {
    background-color: $color-yahoo;
    border-color: $color-yahoo;
  }

  // #sign-list li
  li {
    margin-bottom: 1.3rem;
    text-align: left;

    // #sign-list li:last-of-type
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // #sign-list .btn
  .btn {
    padding-left: 60px;
    position: relative;
    text-align: left;
  }

  // #sign-list .fa
  .fa {
    background: rgba(255, 255, 255, .15);
    display: block;
    height: 100%;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
  }
}

#sign-it .btn {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
}

@media (max-width: 767px) {
  #sign-row .col-sm-5:first-of-type {
    margin-bottom: 12.8rem;
  }

  #sign-row .col-sm-5:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #sign-row::before {
    border-bottom: 1px dashed;
    content: '';
    display: block;
    height: 0;
    left: 0;
    opacity: .2;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  #sign-row::after {
    background: $color-gray;
    -moz-border-radius: 300px;
    -webkit-border-radius: 300px;
    border-radius: 300px;
    color: $color-white;
    content: 'OF';
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    height: 6rem;
    left: 50%;
    line-height: 6rem;
    margin-left: -3rem;
    margin-top: -3rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 6rem;
  }

  #sign-it h2.section-title {
    margin-bottom: 0;
  }
}

#footer {
  background: $color-gray;
  color: $color-white;
  font-family: "Roboto", sans-serif;
  padding: 1.4rem 0;

  // #footer p
  p {
    font-size: 1.2rem;
    margin: 1.4rem 0;
  }

  // #footer a
  a {
    color: $color-white;
  }

  // #footer .fa-boxed
  .fa-boxed {
    background: rgba(255, 255, 255, .15);
    border-radius: 300px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 1px;
    text-align: center;
    width: 24px;
  }
}

#go-top {
  display: inline-block;
  font-size: 1.2rem;
  margin: 1.4rem 0;

}

@media (max-width: 767px) {
  #footer,
  #footer .text-right {
    text-align: center !important;
  }
}

ul[class*="block-grid-"] {
  clear: both;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
  overflow: auto;
  padding: 0;

  // ul[class*="block-grid-"] .link-image
  .link-image {
    display: block;
    overflow: hidden;
    position: relative;
  }

  // ul[class*="block-grid-"] li
  li {
    display: block;
    float: left;
    height: auto;
    list-style: none;
    margin: 2.8rem 0 0;
    padding: 0 15px;
  }
}

.block-grid-2 li {
  width: 50%;
}

.block-grid-3 li {
  width: 33.3333333%;
}

.block-grid-4 li {
  width: 25%;
}

.block-grid-5 li {
  width: 20%;
}

.block-grid-6 li {
  width: 16.66666666666667%;
}

.block-grid-7 li {
  width: 14.285714286%;
}

.block-grid-2 li:nth-child(1),
.block-grid-2 li:nth-child(2),
.block-grid-3 li:nth-child(1),
.block-grid-3 li:nth-child(2),
.block-grid-3 li:nth-child(3),
.block-grid-4 li:nth-child(1),
.block-grid-4 li:nth-child(2),
.block-grid-4 li:nth-child(3),
.block-grid-4 li:nth-child(4),
.block-grid-5 li:nth-child(1),
.block-grid-5 li:nth-child(2),
.block-grid-5 li:nth-child(3),
.block-grid-5 li:nth-child(4),
.block-grid-5 li:nth-child(5),
.block-grid-6 li:nth-child(1),
.block-grid-6 li:nth-child(2),
.block-grid-6 li:nth-child(3),
.block-grid-6 li:nth-child(4),
.block-grid-6 li:nth-child(5),
.block-grid-6 li:nth-child(6) {
  margin-top: 0;
}

.link-image {
  position: relative;
}

.link-image:after {
  background: rgba(0, 0, 0, .25);
  -moz-border-radius: 300px;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  color: $color-white;
  content: '\e623';
  display: block;
  font-family: 'Pe-icon-7-stroke';
  font-size: 4.8rem;
  height: 6rem;
  left: 50%;
  line-height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  width: 6rem;
}

.link-image:hover:after {
  opacity: 1;
}

@media (max-width: 767px) {
  ul[class*="block-grid-"] {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
  }

  ul[class*="block-grid-"] li {
    margin: 10px 0 0;
    padding: 0 5px;
  }
}

#wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

body:not(.one-page) #header {
  position: static;
}

// body:not(.one-page) section {
//
// }

body:not(.one-page) #content {
  box-shadow: none;
  position: relative;
}
